<h1>Demande de support depuis Gestuniat</h1>
<table>
	<tr>
		<th>Par</th>
		<td>{{ support.operateur.prenom }} {{ support.operateur.nom }}</td>
	</tr>
	<tr>
		<th>Niveau d'urgence (sur 4)</th>
		<td>{{ support.urgence }}</td>
	</tr>
	<tr>
		<th>Objet</th>
		<td>{{ support.objet }}</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>{{ support.description }}</td>
	</tr>
</table>