{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Contacts{% endblock %}

{% block additionnal_classes %}internal has-filter{% endblock %}

{% block filter %}
<form class="filter" id="filter-contact" data-context="contact">
	<h2>Superfiltre Contacts<span onclick="$('.filter-section:not(.head, .section-save-filter)').collapse('show')" class="glyphicons glyphicons-chevron-right rotate90"></span><span onclick="$('.filter-section:not(.head, .section-save-filter)').collapse('hide')" class="glyphicons glyphicons-chevron-right rotate270"></span></h2>
	<div class="filter-section head">
		<select name="selFiltresPerso" onchange="document.location = '/contact/liste/'+this.value" class="form-control ignore select-filtre-perso">
			<option value="0">Filtres personnalisés</option>
			{% for filtrePerso in filtresPerso %}
				<option {{ currentFilter and currentFilter.id == filtrePerso.id ? 'selected="selected"' : '' }} value="{{ filtrePerso.id }}">{{ filtrePerso.label }}</option>
			{% endfor %}
		</select>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionDateCreation" aria-controls="sectionDateCreation">Date de création<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionDateCreation">
		<input class="form-control" value="{{ currentFilter ? currentFilter.getFiltreValeur('dateCreation') : '' }}" type="date" name="dateCreation" placeholder="jj/mm/aaaa" />
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionAnciennete" aria-controls="sectionAnciennete">Ancienneté<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionAnciennete">
		<input class="form-control" value="{{ currentFilter ? currentFilter.getFiltreValeur('dateAnciennete') : '' }}" type="date" name="dateAnciennete" placeholder="jj/mm/aaaa" />
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionStatut" aria-controls="sectionStatut">Statut<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionStatut">
		{% for sj in statutsJuridiques %}
			<div class="checkbox">
			  <label>
			    <input type="checkbox" {{ currentFilter and currentFilter.getFiltreValeur('cbStatut') == sj.id ? 'checked="checked"' : '' }} name="cbStatut" value="{{ sj.id }}">
			    	{{ sj.label }}
			  </label>
			</div>
		{% endfor %}
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionSection" aria-controls="sectionSection">Section<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionSection">
		<select name="selSection" class="form-control">
			<option value="0">Section</option>
			{% for section in sections %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selSection') == section.id ? 'selected="selected"' : '' }} value="{{ section.id }}">{{ section.nom }}</option>
			{% endfor %}
		</select>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionFonctions" aria-controls="sectionFonctions">Fonctions<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionFonctions">
		<select name="selFonctionSection" class="form-control">
			<option value="0">Fonction de section</option>
			{% for fs in fonctionsSection %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selFonctionSection') == fs.id ? 'selected="selected"' : '' }} value="{{ fs.id }}">{{ fs.label }}</option>
			{% endfor %}
		</select>
		<select name="selFonctionGroupement" class="form-control">
			<option value="0">Fonction de groupement</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selFonctionGroupement') == 'TOUTES' ? 'selected="selected"' : '' }} value="TOUTES">Toutes</option>
			{% for fg in fonctionsGroupement %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selFonctionGroupement') == fg.id ? 'selected="selected"' : '' }} value="{{ fg.id }}">{{ fg.label }}</option>
			{% endfor %}
		</select>
		<input class="form-control" name="txtRepresentation" type="text" value="{{ currentFilter ? currentFilter.getFiltreValeur('txtRepresentation') : '' }}" placeholder="Fonction de représentation" />
		<div class="checkbox">
			<label>
			    <input type="checkbox" name="cbCA" {{ currentFilter and currentFilter.getFiltreValeur('cbCA') == '1' ? 'checked="checked"' : '' }} value="1">
			    	Membre du CA
			  </label>
		</div>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionLocalisation" aria-controls="sectionLocalisation">Localisation<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionLocalisation">
		<input class="form-control" type="text" name="txtLocalisation" value="{{ currentFilter ? currentFilter.getFiltreValeur('txtLocalisation') : '' }}" placeholder="Nom ville / village" />
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionPaiement" aria-controls="sectionPaiement">Paiement<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionPaiement">
		<select name="selPaiement" class="form-control">
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPaiement') == '0' ? 'selected="selected"' : '' }} value="0">Tous</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPaiement') == 'V_PAYEE' ? 'selected="selected"' : '' }} value="V_PAYEE">Vignette contributive payée</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPaiement') == 'V_RETARD' ? 'selected="selected"' : '' }} value="V_RETARD">Vignette contributive en retard</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPaiement') == 'DON' ? 'selected="selected"' : '' }} value="DON">Dons</option>
		</select>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionRentier" aria-controls="sectionRentier">Rentier<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionRentier">
		<div class="checkbox">
		  <label>
		    <input type="checkbox" name="cbRentier" {{ currentFilter and currentFilter.getFiltreValeur('cbRentier') == 'RENTIER' ? 'checked="checked"' : '' }} value="RENTIER">
		    	Dépositaires
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox"  name="cbRentier" {{ currentFilter and currentFilter.getFiltreValeur('cbRentier') == 'DESTINATAIRE_INDIV' ? 'checked="checked"' : '' }} value="DESTINATAIRE_INDIV">
		    	Déstinataires individuels
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox"  name="cbRentier" {{ currentFilter and currentFilter.getFiltreValeur('cbRentier') == 'OFFRE_DECOUVERTE' ? 'checked="checked"' : '' }} value="OFFRE_DECOUVERTE">
		    	Offre Découverte
		  </label>
		</div>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionPrevoyance" aria-controls="sectionPrevoyance">Contrats prévoyance<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionPrevoyance">
		<select name="selPrevoyance" class="form-control">
			<option value="0">Tous</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPrevoyance') == 'OBS' ? 'selected="selected"' : '' }} value="OBS">Prévoyance obsèque</option>
			<option {{ currentFilter and currentFilter.getFiltreValeur('selPrevoyance') == 'AGRR' ? 'selected="selected"' : '' }} value="AGRR">Prévoyance AGRR</option>
		</select>
	</div>
	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionDiplome" aria-controls="sectionDiplome">Diplômes<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionDiplome">
		<select name="selDiplome" class="form-control">
			<option value="0">Tous</option>
			{% for diplome in diplomes %}
				<option  {{ currentFilter and currentFilter.getFiltreValeur('selDiplome') == diplome.id ? 'selected="selected"' : '' }}  value="{{ diplome.id }}">{{ diplome.label }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="filter-section section-save-filter">
		<input class="form-control ignore" type="text" id="filter-name" placeholder="Nommez votre filtre" />
		<a href="#" onclick="ajaxSaveFilter('#filter-contact','{{ path('save_filter') }}','{{ path('list_contacts') }}')">Sauvegarde de votre filtre</a>
	</div>
</form>
{% endblock %}


{% block content %}
	<h1>Liste des contacts</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="actions-container">
				<span>Effectuer une action sur la sélection &nbsp;&nbsp;&nbsp;</span>
				<select name="selAction" id="selAction" class="padded">
					<option value="DELETE_ITEMS">Supprimer les éléments</option>
					<option value="ETIQUETTES">Imprimer les étiquettes</option>
					<option value="EXPORT">Exporter la liste</option>
				</select>
				<button class="btn btn-primary" onclick="doContactListingAction($('#selAction').val())">Valider</button>
			</div>
		</div>
	</div>
	<div id="list-contact">
		{% include 'operateur/contacts/listing-contacts.inc.html.twig' %}
	</div>

{% endblock %}

{% block additionnal_javascripts %}
	{% if currentFilter %}
		<script type="text/javascript">
			$(function(){
				$('.filter-section:not(.head, .section-save-filter)').collapse('show');
			});
		</script>
	{% endif %}
	<script type="text/javascript">
		$(function(){
			$('.contact-line td:not(.cb-container)').click(function(){
				location.href = '/contact/'+$(this).parents('.contact-line').data('id');
			});
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>

{% endblock %}