{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Documents de  {{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}

{% block left_column %}

	{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}

{% endblock %}

{% block content %}
	<h2>Gestion des documents</h2>
	<ol class="breadcrumb">
	  <li><a href="{{ path('view_contact',{'idContact':contact.id }) }}">{{ contact.prenom }} {{ contact.nom }}</a></li>
	  <li class="active">Gestion des documents</li>
	</ol>
	{% include 'operateur/contacts/listing-documents.inc.html.twig' %}
{% endblock %}