{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Dons de  {{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}

{% block left_column %}

	{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}

{% endblock %}

{% block content %}
	<h2>Gestion des dons</h2>
	<ol class="breadcrumb">
	  <li><a href="{{ path('view_contact',{'idContact':contact.id }) }}">{{ contact.prenom }} {{ contact.nom }}</a></li>
	  <li class="active">Gestion des dons</li>
	</ol>
	<table class="table table-striped table-hover selectable">
		<thead>
			<tr>
				<th></th>
				<th>Montant</th>
				<th>Date</th>
				<th>Anonyme</th>
				<th>Moyen de paiement</th>
				<th>Reçu</th>
				<th>Remerciement</th>
			</tr>
		</thead>
		<tbody>
			{% for don in dons %}
				<tr>
					<td style="position:relative">
						{% include 'operateur/contacts/contextual-default.inc.html.twig' with {'entity':'don','object':don,'deletePath':path('delete_don',{'idDon':don.id}),'isDeletable':app_security.hasAccess('DON_DELETE')} %}
						{% include 'modals/default.html.twig' with {'form':donForms[don.id],'entity':'don','object':don,'title':'Edition du don','isWritable':app_security.hasAccess('DON_WRITE')} %}
					</td>
					<td>{{ don.montant }} €</td>
					<td>{{ don.date ? don.date.format('d/m/Y') : '' }}</td>
					<td>{{ don.isAnonyme ? 'Oui' : 'Non' }}</td>
					<td>{{ don.moyenPaiement ? don.moyenPaiement.label : '' }}</td>
					<td>
						{% if app_security.hasAccess('DON_PRINT') %}
							<a target="_blank" class="btn btn-primary" href="{{ path('generate_recu_don',{'idDon':don.id}) }}">Générer</a>
						{% endif %}
					</td>
					<td>
						{% if app_security.hasAccess('DON_PRINT') %}
							<a target="_blank" class="btn btn-primary" href="{{ path('generate_remerciement_don',{'idDon':don.id}) }}">Générer</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if app_security.hasAccess('DON_WRITE') %}
		<button class="btn btn-primary" data-toggle="modal" data-target="#add-don-0">Saisir un nouveau don</button>
		<br />
		{% include 'modals/default.html.twig' with {'form':newDonForm,'entity':'don','object':false,'title':'Ajouter un nouveau don'} %}
	{% endif %}
{% endblock %}