{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Profil complet de  {{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block additionnal_classes %}internal {{ isInsert ? '' : 'has-left-column'}}{% endblock %}

{% block left_column %}

	{% if not isInsert %}
		{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}
	{% endif %}

{% endblock %}

{% block content %}
	<h2>Edition du profil</h2>
	<ol class="breadcrumb">
	{% if isInsert %}
	  <li class="active">Ajout d'un profil</li>
	{% else %}
	  <li><a href="{{ path('view_contact',{'idContact':contact.id }) }}">{{ contact.prenom }} {{ contact.nom }}</a></li>
	  <li class="active">Edition du profil</li>
	{% endif %} 
	</ol>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#info-gen" aria-controls="info-gen" role="tab" data-toggle="tab">Informations générales</a></li>
		<li role="presentation"><a href="#adhesion" aria-controls="adhesion" role="tab" data-toggle="tab">Adhésion</a></li>
		<li role="presentation"><a href="#rentier" aria-controls="rentier" role="tab" data-toggle="tab">Rentier</a></li>
	</ul>
	<div class="full-contact-form inline-form {{ app_security.hasAccess('CONTACT_WRITE') ? '' : 'readonly' }}">	
		{{ form_start(contactForm,{'attr':{'novalidate':'novalidate'}}) }}
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane clearfix active" id="info-gen">
				<div class="form-group clearfix">
					{{ form_row(contactForm.civilite) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.prenom) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.nom) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.nomJeuneFille) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.mail) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.telFixe) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.telPort) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.adresse) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.adresseComp) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.cp) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.commune) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.bp) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.pays) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isCourrier) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateNaissance) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.lieuNaissance) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.statutMatrimonial) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateDeces) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.mentionDeces) }}
				</div>
			</div><!-- end #info-gen -->
			<div role="tabpanel" class="tab-pane clearfix" id="adhesion">
				<div class="form-group clearfix">
					{{ form_row(contactForm.statutJuridique) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.section) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateAdhesion) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.typeAdhesion) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.numSecu) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.fonctionSection) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.fonctionGroupement) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.fonctionRepresentation) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateDelivranceFonc) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isDossierPaye) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.encaisseur) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isCA) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateCIF) }}
				</div>
			</div>
			<div role="tabpanel" class="tab-pane clearfix" id="rentier">
				<div class="form-group clearfix">
					{{ form_row(contactForm.isRentier) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.nbRentiers) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isBI) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isEnvoiIndiv) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.isOffreDecouverte) }}
				</div>
				<div class="form-group clearfix">
					{{ form_row(contactForm.dateOffreDecouverte) }}
				</div>
			</div>
				{{ form_row(contactForm.save,{'attr':{'class':'btn btn-lg btn-primary'}}) }}
			<br />
		</div>
		{{ form_end(contactForm) }}
	</div>


{% endblock %}