<div class="section">
	<h1>{{ contact.prenom }} {{ contact.nom|upper }}</h1>

	<p>Type de profil <span class="label label-default statut-{{ contact.statutJuridique.id }}">{{ contact.statutJuridique.label }}</span></p>
	<p>N° <b>{{ contact.numAdh }}</b></p>
</div>
<div class="section">
	<p class="underlined"><span class="glyphicons glyphicons-coins"></span>&nbsp;&nbsp;Cotisation</p>
	<p class="underlined"><span class="glyphicons glyphicons-user"></span>&nbsp;&nbsp;Profil créé le <a href="#">{{ contact.dateEntree ? contact.dateEntree.format('d M Y') :'' }}</a></p>
	{% if contact.mail %}
	<p class="underlined"><span class="glyphicons glyphicons-envelope"></span>&nbsp;&nbsp;<a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a></p>
	{% endif %}
	{% if contact.telPort %}
		<p class="underlined"><span class="glyphicons glyphicons-iphone"></span>&nbsp;&nbsp;<a href="callto:{{ contact.telPort }}">{{ contact.telPort }}</a></p>
	{% endif %}
	{% if contact.telFixe %}
		<p class="underlined"><span class="glyphicons glyphicons-phone-alt"></span>&nbsp;&nbsp;<a href="callto:{{ contact.telFixe }}">{{ contact.telFixe }}</a></p>
	{% endif %}
	{% if contact.numSecu %}
		<p class="underlined"><span class="glyphicons glyphicons-credit-card"></span>&nbsp;&nbsp;{{ contact.numSecu }}</p>
	{% endif %}
	<p class="underlined"><span class="glyphicons glyphicons-marriage"></span>&nbsp;&nbsp;Membre conjoint : 
		{% if contact.membreConjoint %}
			<a href="{{ path('view_contact',{'idContact':contact.membreConjoint.id }) }}">{{ contact.membreConjoint.prenom }} {{ contact.membreConjoint.nom }}</a>&nbsp;<a href="#" data-toggle="modal" data-target="#modal-conjoint"><span class="glyphicons glyphicons-edit clickable"></span></a>
		{% else %}
			Aucun <a href="#" data-toggle="modal" data-target="#modal-conjoint"><span class="glyphicons glyphicons-plus-sign"></span></a>
		{% endif %}
	</p>
	<p class="underlined"><span class="glyphicons glyphicons-home"></span>&nbsp;&nbsp;{{ contact.adresse }} {{ contact.cp }} {{ contact.commune }}</p>
	<p><a class="btn btn-default" href="{{ path('full_contact',{'idContact':contact.id }) }}"> Profil complet >> </a></p>
</div>
<div class="section">
	<p><a class="btn btn-default btn-block" href="{{ path('list_contrats',{'idContact':contact.id}) }}">Gestionnaire des prévoyances</a></p>
	<p><a class="btn btn-default btn-block">Gestionnaire des documents</a></p>
	<p><a class="btn btn-default btn-block">Vignettes contributives</a></p>
	<p><a class="btn btn-default btn-block">Kit adhésion</a></p>
	<p><a class="btn btn-default btn-block">Etiquettes</a></p>
	<p><a class="btn btn-default btn-block">Procuration</a></p>
	<p><a class="btn btn-default btn-block">Pouvoirs</a></p>
	<p><a class="btn btn-default btn-block">Diplômes</a></p>
	<p><a class="btn btn-default btn-block">Pièces à fournir</a></p>
</div>

{% include 'modals/editer-membre-conjoint.html.twig' %}