<table class="table table-striped table-hover selectable">
	<thead>
		<tr>
			<th></th>
			<th>Type</th>
			<th>Nom / libellé</th>
			<th>Date de début</th>
			<th>Date de fin</th>
			<th>Dernière modification par</th>
		</tr>
	</thead>
	<tbody>
		{% for dossier in dossiers %}
			<tr>
				<td style="position:relative">
					<div class="position:relative">
						<a href="#" class="dropdown-toggle" id="options-dossier-{{ dossier.id }}" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-option-horizontal"></span></a>
						<ul class="dropdown-menu" aria-labelledby="options-dossier-{{ dossier.id }}">
							<li class="contextual-item"><a class="no-padding-top" href="{{ path('view_dossier',{'idContact':contact.id,'idDossier':dossier.id}) }}" ><span class="glyphicons glyphicons-eye-open"></span><span class="item-label">Voir</span></a></li>
							<li class="contextual-item"><a class="no-padding-top" href="{{ path('delete_dossier',{'idDossier':dossier.id}) }}" onclick="if(confirm('Valider la suppression ?')){ return true; }else{ return false; }"><span class="glyphicons glyphicons-bin"></span><span class="item-label">Supprimer</span></a></li>
						</ul>
					</div>
				</td>
				<td><span class="glyphicons glyphicons-folder-closed"></span>&nbsp;Dossier</td>
				<td>{{ dossier.nom }}</td>
				<td>{{ dossier.dateOuverture ? dossier.dateOuverture.format('m/d/Y') : '-' }}</td>
				<td>{{ dossier.dateFermeture ? dossier.dateFermeture.format('m/d/Y') : '-' }}</td>
				<td>{{ dossier.operateur.prenom }} {{ dossier.operateur.nom }}</td>
			</tr>
		{% endfor %}
		{% for document in documents %}
			<tr>
				<td style="position:relative">
					<div class="position:relative">
						<a href="#" class="dropdown-toggle" id="options-document-{{ document.id }}" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-option-horizontal"></span></a>
						<ul class="dropdown-menu" aria-labelledby="options-document-{{ document.id }}">
							<li class="contextual-item"><a class="no-padding-top" href="#" onclick="ajaxShowEditDocument({{ document.id }})"><span class="glyphicons glyphicons-eye-open"></span><span class="item-label">Editer</span></a></li>
							<li class="contextual-item"><a class="no-padding-top" href="{{ path('download_document',{'idDocument':document.id}) }}"><span class="glyphicons glyphicons-download-alt"></span><span class="item-label">Télécharger</span></a></li>
							<li class="contextual-item"><a class="no-padding-top" href="{{ path('delete_document',{'idDocument':document.id}) }}" onclick="if(confirm('Valider la suppression ?')){ return true; }else{ return false; }"><span class="glyphicons glyphicons-bin"></span><span class="item-label">Supprimer</span></a></li>
						</ul>
					</div>
				</td>
				<td><span class="glyphicons glyphicons-file"></span>&nbsp;Fichier</td>
				<td>{{ document.label }}</td>
				<td>-</td>
				<td>-</td>
				<td>{{ document.operateur.prenom }} {{ document.operateur.nom }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<button class="btn btn-primary" data-toggle="modal" data-target="#add-dossier-0">Saisir un nouveau dossier</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#add-document-0">Saisir un nouveau document</button>
<br />
{% include 'modals/default.html.twig' with {'form':newDocumentForm,'entity':'document','object':false,'title':'Ajouter un nouveau document'} %}
{% include 'modals/default.html.twig' with {'form':newDossierForm,'entity':'dossier','object':false,'title':'Ajouter un nouveau dossier'} %}