{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Pouvoirs de  {{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}

{% block left_column %}

	{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}

{% endblock %}

{% block content %}
	<h2>Gestion des pouvoirs</h2>
	<ol class="breadcrumb">
	  <li><a href="{{ path('view_contact',{'idContact':contact.id }) }}">{{ contact.prenom }} {{ contact.nom }}</a></li>
	  <li class="active">Gestion des pouvoirs</li>
	</ol>
	<table class="table table-striped table-hover selectable">
		<thead>
			<tr>
				<th></th>
				<th>Date</th>
				<th>Affaire</th>
				<th>Destinataire</th>
				<th>Lieu</th>
				<th>FIVA</th>
			</tr>
		</thead>
		<tbody>
			{% for pouvoir in pouvoirs %}
				<tr>
					<td style="position:relative">
						{% include 'operateur/contacts/contextual-default.inc.html.twig' with {'entity':'pouvoir','object':pouvoir,'deletePath':path('delete_pouvoir',{'idPouvoir':pouvoir.id})} %}
						{% include 'modals/default.html.twig' with {'form':pouvoirForms[pouvoir.id],'entity':'pouvoir','object':pouvoir,'title':'Edition du pouvoir'} %}
					</td>
					<td>{{ pouvoir.date ? pouvoir.date.format('d/m/Y') : '' }}</td>
					<td>{{ pouvoir.affaire }}</td>
					<td>{{ pouvoir.destinataire }}</td>
					<td>{{ pouvoir.lieu }}</td>
					<td>{{ pouvoir.isFIVA ? 'Oui' : 'Non' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary" data-toggle="modal" data-target="#add-pouvoir-0">Saisir un nouveau pouvoir</button>
	<br />
	{% include 'modals/default.html.twig' with {'form':newPouvoirForm,'entity':'pouvoir','object':false,'title':'Ajouter un nouveau pouvoir'} %}
{% endblock %}