<div class="listing-item suivi clearfix" data-id="{{suivi.id}}">
	<div class="listing-item-side left-side">
		<input type="checkbox"/>
	</div>
	<div class="listing-item-content">
		{% if suivi.dossier %}
			<p>
				<i><a href="{{ path('view_dossier',{'idContact':contact.id,'idDossier':suivi.dossier.id}) }}">Dossier "{{ suivi.dossier.nom }}"</a></i>
			</p>
		{% endif %}
		<p>
			{{ suivi.dateEcheance and suivi.isOk ? '<s>' : ''  }}
			{{ suivi.texte }}
			{{ suivi.dateEcheance and suivi.isOk ? '</s>' : ''  }}
		</p>
		<p>
			{{ suivi.dateCreation.format('d/m/Y') }}&nbsp;&nbsp;|&nbsp;&nbsp;<span class="due-to">{{ suivi.dateEcheance ? suivi.dateEcheance.format('d/m/Y') : '---' }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;{{ suivi.operateur ? suivi.operateur.nom : '' }} {{ suivi.operateur ? suivi.operateur.prenom : '' }}
		</p>
	</div>
	<div class="listing-item-side right-side">
		{% if app_security.hasAccess('SUIVI_WRITE') and app_security.hasAccess('SUIVI_DELETE') %}
			<p class="contextual-icon dropdown-toggle" id="options-suivi-1" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-option-horizontal"></span></p>
			<ul class="dropdown-menu" aria-labelledby="options-suivi-1">
				{% if app_security.hasAccess('SUIVI_WRITE') %}
					<li class="contextual-item"><a class="no-padding-top" href="#" onclick="ajaxShowEditSuivi({{ suivi.id }})"><span class="glyphicons glyphicons-eye-open"></span><span class="item-label">Editer</span></a></li>
				{% endif %}
				{% if app_security.hasAccess('SUIVI_DELETE') %}
					<li class="contextual-item"><a class="no-padding-top" href="{{ path('delete_suivi',{'idSuivi':suivi.id}) }}" onclick="if(confirm('Valider la suppression ?')){ return true; }else{ return false; }"><span class="glyphicons glyphicons-bin"></span><span class="item-label">Supprimer</span></a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
</div>