{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Vignettes contributives de  {{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}

{% block left_column %}

	{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}

{% endblock %}

{% block content %}
	<h2>Gestion des vignettes contributives</h2>
	<ol class="breadcrumb">
	  <li><a href="{{ path('view_contact',{'idContact':contact.id }) }}">{{ contact.prenom }} {{ contact.nom }}</a></li>
	  <li class="active">Gestion des vignettes contributives</li>
	</ol>
	<table class="table table-striped table-hover selectable">
		<thead>
			<tr>
				<th></th>
				<th>Montant</th>
				<th>Date de la demande</th>
				<th>Date de versement</th>
				<th>Moyen de paiement</th>
				<th>Dossier</th>
			</tr>
		</thead>
		<tbody>
			{% for vignette in vignettes %}
				<tr>
					<td style="position:relative">
						{% include 'operateur/contacts/contextual-default.inc.html.twig' with {'entity':'vignette','object':vignette,'deletePath':path('delete_vignette',{'idVignette':vignette.id}),'isDeletable':app_security.hasAccess('VIGNETTE_DELETE')} %}
						{% include 'modals/default.html.twig' with {'form':vignetteForms[vignette.id],'entity':'vignette','object':vignette,'title':'Edition de la vignette','isWritable':app_security.hasAccess('VIGNETTE_WRITE')} %}
					</td>
					<td>{{ vignette.montant }} €</td>
					<td>{{ vignette.dateDemande ? vignette.dateDemande.format('d/m/Y') : '' }}</td>
					<td>{{ vignette.datePaiement ? vignette.datePaiement.format('d/m/Y') : '' }}</td>
					<td>{{ vignette.moyenPaiement ? vignette.moyenPaiement.label : '' }}</td>
					<td>{{ vignette.dossier ? ('<a href="'~path('view_dossier',{idDossier:vignette.dossier.id,idContact:vignette.contact.id})~'">'~vignette.dossier.nom~'</a>')|raw : '-' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if app_security.hasAccess('VIGNETTE_WRITE') %}
		<button class="btn btn-primary" data-toggle="modal" data-target="#add-vignette-0">Saisir une nouvelle vignette</button>
		<br />
		{% include 'modals/default.html.twig' with {'form':newVignetteForm,'entity':'vignette','object':false,'title':'Ajouter une nouvelle vignette'} %}
	{% endif %}
{% endblock %}