<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenue sur GESTUNIAT{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body class="{% block additionnal_classes %}{% endblock %}">
        {% block body %}
            {% block left_sidebar_container %}
                <div id="left-sidebar">
                    {% block left_sidebar %}
                        <div class="head-container">
                            <img src="{{ asset('img/logo.png') }}" alt="Logo UNIAT" id="logo" />
                            <div>
                                <span class="small">Bonjour</span><br />
                                <b>{{ app.user.prenom }} {{ app.user.nom }}</b>
                            </div>
                        </div>
                        <div class="menu-container">
                            <div class="spacer"></div>
                            <ul class="menu">
                                <li><a href="{{ path('dashboard') }}"><span class="glyphicons glyphicons-home"></span><span class="menu-label">Accueil</span></a></li>
                                <li><a href="{{ path('list_contacts') }}"><span class="glyphicons glyphicons-user"></span><span class="menu-label">Contacts</span></a></li>
                                <li><a href=""><span class="glyphicons glyphicons-flag"></span><span class="menu-label">Sections</span></a></li>
                                <li><a href=""><span class="glyphicons glyphicons-folder-open"></span><span class="menu-label">Dossiers</span></a></li>
                                <li><a href=""><span class="glyphicons glyphicons-government"></span><span class="menu-label">Organismes</span></a></li>
                                <li><a href=""><span class="glyphicons glyphicons-adjust-alt"></span><span class="menu-label">Filtres perso.</span></a></li>
                                <li><a href=""><span class="glyphicons glyphicons-book"></span><span class="menu-label">Rentier</span></a></li>
                            </ul>
                            <div class="spacer"></div>
                            <ul class="menu">
                                <li><a href=""><span class="glyphicons glyphicons-life-preserver"></span><span class="menu-label">Support</span></a></li>
                            </ul>
                        </div>
                    {% endblock %}    
                </div>
            {% endblock %}
            {% block main_content_container %}
                <div id="main-content">
                    {% block main_content %}
                        {% block header_container %}
                            <header class="clearfix">
                                {% block header %}
                                    <div class="col-md-6">
                                        <div class="input-group" id="global-search-container">
                                            <input type="text" class="form-control" id="global-search-zone" placeholder="Rechercher une personne, une section ou numéro" />
                                            <span class="input-group-addon"><span class="glyphicons glyphicons-search"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 clearfix">
                                        <a class="header-button button-exit" href="{{ path('logout') }}">
                                            <span class="glyphicons glyphicons-power" aria-hidden="true"></span><span class="button-label">Quitter</span>
                                        </a>
                                        <a class="header-button button-option" href="{# path('reglages') #}">
                                            <span class="glyphicons glyphicons-cogwheel" aria-hidden="true"></span><span class="button-label">Réglages</span>
                                        </a>
                                        <a class="header-button button-alert" href="#" data-toggle="modal" data-target="#lateAlertes">
                                            <span class="glyphicons glyphicons-warning-sign" aria-hidden="true"></span><span class="badge nb-alertes">{{ app.session.get('nbAlertes') }}</span><span class="button-label">Alertes</span>
                                        </a>
                                        <a class="header-button button-window" href="" target="_blank">
                                            <span class="glyphicons glyphicons-multiple-displays" aria-hidden="true"></span><span class="button-label">Fenêtre</span>
                                        </a>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="lateAlertes" tabindex="-1" role="dialog" aria-labelledby="lateAlertesLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="lateAlertesLabel">Tâches urgentes</h4>
                                          </div>
                                          <div class="modal-body">
                                            {% for history in app.session.get('lateAlertes') %}
                                                {% include 'operateur/dashboard/alerte-item.inc.html.twig' with {'alerte': history} %}
                                            {% endfor %}
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                {% endblock %}
                            </header>
                        {% endblock %}
                        <div class="filter-container">
                            {% block filter %}
                            {% endblock %}
                        </div>
                        <div class="left-column-container">
                            {% block left_column %}
                            {% endblock %}
                        </div>
                        <div class="container-border">
                            <div class="container fullwidth">
                                {% block content %}
                                    <h1>Page inexistante...</h1>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        {% endblock %}
        {% block additionnal_javascripts %}
            
        {% endblock %}
    </body>
</html>
