<div class="section">
	<h1>Réglages</h1>
	<br />
	<p><a class="btn btn-default btn-block" href="{{ path('list_operateurs') }}">Utilisateurs</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_parametres') }}">Paramètres</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_regimeAffiliations') }}">Régimes d'affiliation</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_typeOrganismes') }}">Types d'organisme</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_fonctionSections') }}">Fonctions de section</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_fonctionGroupements') }}">Fonctions de groupement</a></p>
	<p><a class="btn btn-default btn-block" href="{{ path('list_admin_diplomes') }}">Diplomes</a></p>

</div>