<div class="listing-container">
	{% if lstAlertes[deadline] %}
		{% for alerte in lstAlertes[deadline] %}
	        <div id="listing-alerte-{{ alerte.id }}" class="listing-item clearfix alerte {% if alerte.isOk == true %} done {% endif %}">
	        	<div class="listing-item-side left-side">
	        		<input type="checkbox" class="cb-check-alerte" onchange="ajaxCheckAlerte('alerte',{{ alerte.id }}, this.value)" value="{% if alerte.isOk == true %}done{% endif %}" {% if alerte.isOk == true %} checked="checked" {% endif %} />
	        	</div>
	        	<div class="listing-item-content">
	        		<h4><span>{{ alerte.label }}</span> <small>{{ alerte.dateEcheance.format('d/m/Y') }}</small></h4>
	        		<p>{{ alerte.texte }}</p>
	        	</div>
	        	<div class="listing-item-side right-side">
	        		<p class="contextual-icon dropdown-toggle" id="options-alerte-{{ alerte.id }}" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-option-horizontal"></span></p>
	        		  <ul class="dropdown-menu" aria-labelledby="options-alerte-{{ alerte.id }}">
					    <li class="contextual-item"><a class="no-padding-top" href="#"><span class="glyphicons glyphicons-eye-open"></span><span class="item-label">Editer</span></a></li>
					    <li class="contextual-item"><a class="no-padding-top" href="#"><span class="glyphicons glyphicons-bin"></span><span class="item-label">Supprimer</span></a></li>
					  </ul>
	        	</div>
	        </div>
	    {% endfor %}
	{% endif %}
</div>