<div class="modal fade" id="liste-destintaires-rentier" tabindex="-1" role="dialog" aria-labelledby="list-destintaires-rentier-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="list-destintaires-rentier-label">Destinataires rentiers</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="form-dest-rentiers" action="{{path('save_dest_rentiers',{'idSection':section.id})}}">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Prénom / Nom</th>
                <th>Nombre de rentiers</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
                  <tr id="dest-rentiers-{{contact.id}}">
                    <td><a href="{{ path('view_contact',{'idContact':contact.id}) }}">{{ contact.prenom }} {{ contact.nom }}</a><input name="idRentier[]" type="hidden" value="{{contact.id}}"/></td>
                    <td>
                      <input value="{{ contact.nbRentiers }}" type="number" name="nbRentier-{{contact.id}}" />
                      &nbsp;<span style="cursor:pointer;font-size:16px;" onclick="removeRentierSection({{contact.id}})" class="pull-right glyphicons glyphicons-delete x2"></span>
                    </td>
                  </tr>
              {% endfor %}
                <tr>
                  <td>
                    <select name="selNewRentier">
                        <option value="0">Ajouter un destinataire</option>
                        {% for contact in contactsSection %}
                          <option value="{{contact.id}}">{{contact.prenom}} {{contact.nom}}</option>
                        {% endfor %}
                    </select>
                  </td>
                  <td>
                    <input value="" type="number" name="numNewRentier" />
                  </td>
                </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('#form-dest-rentiers').submit()">Enregistrer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->