<div class="modal fade {{ app_security.hasAccess('DIPLOME_WRITE') ? '' : 'readonly'}}" id="edit-cd-{{ cd.id }}" tabindex="-1" role="dialog" aria-labelledby="label-edit-cd-{{ cd.id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="label-edit-cd-{{ cd.id }}">Editer la remise de diplôme</h4>
      </div>
      <div class="modal-body">
        {{ form(cdForms[cd.id], {'attr': {'novalidate': 'novalidate','id' : 'cd-edit-' ~ cd.id,'class' : 'clearfix modal-form'}}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="$('form#cd-edit-{{ cd.id }}').submit()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>