<!-- Modal -->
<div class="modal fade" id="historique" tabindex="-1" role="dialog" aria-labelledby="historique-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historique-label">Voir l'historique</h4>
      </div>
      <div class="modal-body">
     	{% for history in lstHistory %}
     		<div id="listing-alerte-{{ history.id }}"  class="listing-item clearfix alerte {% if history.isOk == true %} done {% endif %}">
	        	<div class="listing-item-side left-side">
	        		<input type="checkbox" class="cb-check-alerte" onchange="ajaxCheckAlerte('alerte',{{ history.id }}, this.value)" value="{% if history.isOk == true %}done{% endif %}" {% if history.isOk == true %} checked="checked" {% endif %} />
	        	</div>
	        	<div class="listing-item-content">
	        		<h4><span>{{ history.label }}</span> <small>{{ history.dateEcheance.format('d/m/Y') }}</small></h4>
	        		<p>{{ history.texte }}</p>
	        	</div>
	        	<div class="listing-item-side right-side">
	        		<p class="contextual-icon dropdown-toggle" id="options-alerte-{{ history.id }}" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-option-horizontal"></span></p>
	        		<ul class="dropdown-menu" aria-labelledby="options-alerte-{{ history.id }}">
					    <li class="contextual-item"><a class="no-padding-top" href="#"><span class="glyphicons glyphicons-eye-open"></span><span class="item-label">Editer</span></a></li>
					    <li class="contextual-item"><a class="no-padding-top" href="#"><span class="glyphicons glyphicons-bin"></span><span class="item-label">Supprimer</span></a></li>
					  </ul>
	        	</div>
	        </div>
     	{% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>