<div class="section">
	<h1>{{ section.nom|upper }}</h1>

	<p>Etat : <span class="label label-default section-{{ section.isActive ? 'active' : 'closed' }}">{{ section.isActive ? 'Active' : 'Fermé' }}</span></p>
	<p>N° <b>{{ section.num }}</b></p>
</div>
<div class="section">
	<p class="underlined"><span class="glyphicons glyphicons-user"></span>&nbsp;&nbsp;Délégué : 
		{% if section.delegue %}
			<a href="{{ path('view_contact',{'idContact':section.delegue.id}) }}">{{ section.delegue ? (section.delegue.prenom~' '~section.delegue.nom) : '' }}</a>&nbsp;
			{% if app_security.hasAccess('SECTION_WRITE') %}
				<a href="#" data-toggle="modal" data-target="#modal-delegue"><span class="glyphicons glyphicons-edit"></span></a>
			{% endif %}
		{% else %}
			Non défini <a href="#" data-toggle="modal" data-target="#modal-delegue"><span class="glyphicons glyphicons-plus-sign"></span></a>
		{% endif %}
	</p>
	<p class="underlined"><span class="glyphicons glyphicons-coins"></span>&nbsp;&nbsp;Sub. Communale : {{ section.subventions }}</p>
	{% if section.dateDerniereAG %}
	<p class="underlined"><span class="glyphicons glyphicons-note"></span>&nbsp;&nbsp;Dernière AG&nbsp;:&nbsp;{{ section.dateDerniereAG.format('d/m/Y') }}</p>
	{% endif %}
	{% if section.dateDernierListing %}
	<p class="underlined"><span class="glyphicons glyphicons-note"></span>&nbsp;&nbsp;Dernier listing&nbsp;:&nbsp;{{ section.dateDernierlisting.format('d/m/Y') }}</p>
	{% endif %}
	{% if section.destDernierListing %}
	<p class="underlined"><span class="glyphicons glyphicons-user"></span>&nbsp;&nbsp;Dest. listing&nbsp;:&nbsp;{{ section.destDernierListing }}</p>
	{% endif %}
	{% if section.dateRemiseBulletin %}
	<p class="underlined"><span class="glyphicons glyphicons-newspaper"></span>&nbsp;&nbsp;Bulletin municipal&nbsp;:&nbsp;{{ section.dateRemiseBulletin.format('d/m/Y') }}</p>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<p><a class="btn btn-default" href="{{ path('full_section',{'idSection':section.id }) }}"> Profil complet >> </a>
			{% if app_security.hasAccess('SECTION_CLOSE') %}
				<a class="btn btn-danger" onclick="if(confirm('Valider la suppression du section (cette action est irréversible) ?')){ return true; }else{ return false; }" href="{{ path('delete_section',{'idSection':section.id }) }}"> Supprimer </a>
			{% endif %}
		</p>
		</div>
	</div>
</div>
<div class="section">
	<p><a class="btn btn-default btn-block" href="{{ path('list_contacts_section',{'idSection':section.id}) }}">Liste des adhérents 
		<span class="badge">
			{{ render(controller(
		        'AppBundle:Section:displayNbAdherents',
		        { 'section': section }
		    )) }}
		</span>
		</a></p>
	{% if app_security.hasAccess('TIMBRE_READ') %}
		<p><a class="btn btn-default btn-block" href="{{ path('list_remiseTimbres',{'idSection':section.id}) }}">Gestion des timbres</a></p>
	{% endif %}
	{% if app_security.hasAccess('PERMANENCE_READ') %}
		<p><a class="btn btn-default btn-block" href="{{ path('list_permanences',{'idSection':section.id}) }}">Permanences</a></p>
	{% endif %}
	{% if app_security.hasAccess('AG_READ') %}
		<p><a class="btn btn-default btn-block" href="{{ path('list_assembleeGenerales',{'idSection':section.id}) }}">Assemblées Générales</a></p>
	{% endif %}
	<p><a class="btn btn-default btn-block" href="{{ path('list_documentSections',{'idSection':section.id}) }}">Documents</a></p>
</div>
<div class="section">
	<p><a class="btn btn-default btn-block" data-toggle="modal" data-target="#liste-fonctions-adherents"><span class="glyphicons glyphicons-more-windows"></span>&nbsp;Fonctions des adhérents</a></p>
		{{ render(controller('AppBundle:Section:displayFonctionsAdherentsSection',  
			{ 'section': section }
		)) }}
	{% if app_security.hasAccess('RENTIER_DESTINATAIRE') %}
		<p><a class="btn btn-default btn-block" data-toggle="modal" data-target="#liste-destintaires-rentier"><span class="glyphicons glyphicons-more-windows"></span>&nbsp;Destinataires Rentier</a></p>
		{{ render(controller(
	        'AppBundle:Section:displayDestinataireRentiers',
	        { 'section': section }
	    )) }}
	{% endif %}
</div>


{% include 'modals/editer-delegue.html.twig' %}