{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Sections{% endblock %}

{% block additionnal_classes %}internal has-filter{% endblock %}

{% block filter %}
<form class="filter" id="filter-section" data-context="section">
	<h2>Superfiltre Sections<span onclick="$('.filter-section:not(.head, .section-save-filter)').collapse('show')" class="glyphicons glyphicons-chevron-right rotate90"></span><span onclick="$('.filter-section:not(.head, .section-save-filter)').collapse('hide')" class="glyphicons glyphicons-chevron-right rotate270"></span></h2>
	<div class="filter-section head">
		<select name="selFiltresPerso" onchange="document.location = '/section/liste/'+this.value" class="form-control ignore select-filtre-perso">
			<option value="0">Filtres personnalisés</option>
			{% for filtrePerso in filtresPerso %}
				<option {{ currentFilter and currentFilter.id == filtrePerso.id ? 'selected="selected"' : '' }} value="{{ filtrePerso.id }}">{{ filtrePerso.label }}</option>
			{% endfor %}
		</select>
	</div>

	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionDateCreation" aria-controls="sectionDateCreation">Date de création<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionDateCreation">
		<input class="form-control" value="{{ currentFilter ? currentFilter.getFiltreValeur('dateCreation') : '' }}" type="date" name="dateCreation" placeholder="jj/mm/aaaa" />
	</div>

	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionAG" aria-controls="sectionAG">Assemblées Générales<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionAG">
		Du :
		<input class="form-control" value="{{ currentFilter ? currentFilter.getFiltreValeur('dateDebutAG') : '' }}" type="date" name="dateDebutAG" placeholder="jj/mm/aaaa" />
		Au :
		<input class="form-control" value="{{ currentFilter ? currentFilter.getFiltreValeur('dateFinAG') : '' }}" type="date" name="dateFinAG" placeholder="jj/mm/aaaa" />
	</div>

	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionTimbre" aria-controls="sectionTimbre">Décompte Timbres<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionTimbre">
		{% set timbreOptions = {'':'Tous','MANQUANT':'Manquants','COMPLET':'Complet'} %}
		<select name="selTimbres" class="form-control">
			{% for key, option in timbreOptions %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selTimbres') == key ? 'selected="selected"' : '' }} value="{{key}}">{{option}}</option>
			{% endfor %}
		</select>
		<label>Pour l'année :</label>
		<select name="selAnneeDecompte" class="form-control">
			{% for value in range(2005,"now"|date('Y')) %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selAnneeDecompte') == value ? 'selected="selected"' : '' }} {{ not currentFilter and value == "now"|date('Y') ? 'selected="selected"' : '' }} value="{{value}}">{{value}}</option>
			{% endfor %}
		</select>
	</div>

	<h3><a data-toggle="collapse" class="collapsed" aria-expanded="false" href="#sectionTresorerie" aria-controls="sectionTresorerie">Trésorerie<span class="glyphicons glyphicons-chevron-right rotate90"></span><span class="glyphicons glyphicons-chevron-right rotate270"></span></a></h3>
	<div class="filter-section collapse" id="sectionTresorerie">
		{% set tresoOptions = {'':'Toutes','EXCEDENTAIRE':'Excédentaire','DEFICITAIRE':'Déficitaire'} %}
		<select name="selTresorerie" class="form-control">
			{% for key, option in tresoOptions %}
				<option {{ currentFilter and currentFilter.getFiltreValeur('selTresorerie') == key ? 'selected="selected"' : '' }} value="{{key}}">{{option}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="filter-section section-save-filter">
		<input class="form-control ignore" type="text" id="filter-name" placeholder="Nommez votre filtre" />
		<a href="#" onclick="ajaxSaveFilter('#filter-section','{{ path('save_filter') }}','{{ path('list_sections') }}')">Sauvegarde de votre filtre</a>
	</div>
</form>
{% endblock %}


{% block content %}
	<h1>Liste des sections</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="actions-container">
				<span>Effectuer une action sur la sélection &nbsp;&nbsp;&nbsp;</span>
				<select name="selAction" id="selAction" class="padded">
					<option value="DELETE_ITEMS">Supprimer les éléments</option>
					<option value="EXPORT">Exporter la liste</option>
				</select>
				<button class="btn btn-primary" onclick="doSectionListingAction($('#selAction').val())">Valider</button>
			</div>
		</div>
	</div>
	<div id="list-section">
		{% include 'operateur/sections/listing-sections.inc.html.twig' %}
	</div>

{% endblock %}

{% block additionnal_javascripts %}
	{% if currentFilter %}
		<script type="text/javascript">
			$(function(){
				$('.filter-section:not(.head, .section-save-filter)').collapse('show');
			});
		</script>
	{% endif %}
	<script type="text/javascript">
		$(function(){
			$('.section-line td:not(.cb-container)').click(function(){
				location.href = '/section/'+$(this).parents('.section-line').data('id')+'/accueil';
			})
		});
	</script>

{% endblock %}