{% extends 'base.html.twig' %}

{% block title %}Gestuniat - Liste des destinataires individuels (trimestre {{ numTrimestre }} / {{ annee }}){% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}

{% block left_column %}

<div class="section">
	<h1>Envois individuels</h1>
	<p>Année <b>{{ annee }}</b> </p>
	<p>Trimestre N°<b>{{ numTrimestre }}</b> </p>
</div>
<div class="section">
	<form>
		<p>Année
			<select id="selAnnee" class="form-control">
				{% for _annee in 2005.."now"|date("Y") %}
					<option value="{{ _annee }}" {{ _annee == annee ? 'selected="selected"' : '' }}>{{ _annee }}</option>
				{% endfor %}
			</select>
		</p>
		<p>Trimestre
			<select class="form-control" id="selTrimestre">
				{% for _numTrimestre in 1..4 %}
					<option value="{{ _numTrimestre }}" {{ _numTrimestre == numTrimestre ? 'selected="selected"' : '' }}>{{ _numTrimestre }}</option>
				{% endfor %}
			</select>
		</p>
		<p><a href="#" class="btn btn-default" onclick="displayEnvoisIndivs()">Rechercher >></a></p>
	</form>
</div>

<script type="text/javascript">
	function displayEnvoisIndivs(){
		var annee = $('#selAnnee').val();
		var trimestre = $('#selTrimestre').val();

		location.href = '{{ path('list_dest_indivs') }}/'+annee+'/'+trimestre;

		return false;
	}
</script>

{% endblock %}

{% block content %}
	<h2>Liste des destinataires individuels</h2>
	<div class="btn-group">
	  <button type="button" class="btn btn-export dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Exporter la liste des destinataires &nbsp;<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="{{ path('export_liste_dest_indiv',{'annee':annee,'numTrimestre':numTrimestre,'format':'pdf'}) }}">Format PDF</a></li>
	    <li><a href="{{ path('export_liste_dest_indiv',{'annee':annee,'numTrimestre':numTrimestre,'format':'csv'}) }}">Format CSV</a></li>
	  </ul>
	</div>
	{% if app_security.hasAccess('RENTIER_INVOICE') %}
		<button class="btn btn-primary" data-toggle="modal" data-target="#generer-facture-envois-individuels">Générer les factures pour ce trimestre</button>
		{% include 'modals/generer-facture-envois-indiv.html.twig' %}
	{% endif %}
	<table class="table table-striped table-hover selectable">
		<thead>
			<tr>
				<th>Section</th>
				<th>Destinataires individuels</th>
				<th>Facture</th>
				<th>Coût unitaire</th>
				<th>Coût total</th>
			</tr>
		</thead>
		<tbody>
			{% for envoiRentier in envoisRentiers %}
				<tr>
					<td>{{ envoiRentier.section.nom }}</td>
					<td>{{ envoiRentier.envoisIndiv|length }}</td>
					<td>{{ envoiRentier.coutEnvoisIndiv ? 'Généré le ' ~ envoiRentier.dateGenFacture.format('d/m/Y') : 'Non générée' }}</td>
					<td>{{ envoiRentier.coutEnvoisIndiv ? envoiRentier.coutEnvoisIndiv : '-' }}</td>
					<td>{{ envoiRentier.coutEnvoisIndiv ? envoiRentier.coutEnvoisIndiv * envoiRentier.envoisIndiv|length : '-' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}